<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <h1>About Blocipedia</h1>
    <p> Created by:
      <%= link_to "Katelyn Hertel", "http://www.katelynhertel.com" %>
    </p>
    <p> This app was created as part of the project phase of Katelyn's programming bootcamp at Bloc.io! </p>
    <div>
      <p> @copyright Katelyn Hertel 2016 </p>
    </div>
</body>
</html>
